.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.navbar ul {
  text-align: center;
  justify-content: center;
}

.navbar li {
  display: inline-block;
  font-size: 1.8rem;
}

.navbar li a {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.25s;
}

.navbar li a.active {
  color: var(--primary-color);
  background-color: var(--light-color);
}

.navbar li:not(:last-child) {
  margin-right: 1.8rem;
}

.navbar a {
  color: var(--light-color);
}
