@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; /* 10 / 16 = .625 */
  line-height: 1.2;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

input {
  font-family: inherit;
  border: 1px solid #777;
  border-radius: 4px;
  outline: none;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
}

input.invalid {
  border-color: var(--danger-color);
}

input:focus {
  border-color: #000;
}

h1,
.h1 {
  font-weight: 500;
  font-size: 2.2rem;
  letter-spacing: 1.2;
}

h2,
.h2 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1.1;
}

h3,
.h3 {
  font-weight: 300;
  font-size: 1.4rem;
}

hr,
.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba($on-base, 0),
    rgba($on-base, 0.75),
    rgba($on-base, 0)
  );
}

.mg-sm {
  margin-bottom: 2rem;
}
.mg-md {
  margin-bottom: 3rem;
}
.mg-lg {
  margin-bottom: 4rem;
}
.mg-hg {
  margin-bottom: 8rem;
}
